<section id="location">
  <div class="contacts-wrapper">
    <div id="contacts-map" class="map" data-settings="map-settings.json" style="height:560px;"></div>

    <div class="container contacts-on-map-container">
      <div class="contacts-on-map">
        <h1>Location</h1>
        <hr class="left">
        <ul class="list">
          <li>
            <i class="fa fa-map-marker" style="height:55px"></i>
            <div style="display: inline-block">
              <strong>ONE AUDITORIUM</strong><br />
              MENARA TA ONE, KLCC <br />
              22, Jalan P. Ramlee,<br />
              50250, Kuala Lumpur.
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
