<section id="location">
  <div class="contacts-wrapper">
    <div id="contacts-map" class="map" data-settings="map-settings.json" style="height:560px;"></div>

    <div class="container contacts-on-map-container">
      <div class="contacts-on-map">
        <h1>Location</h1>
        <hr class="left">
        <ul class="list">
          <li>
            <i class="fa fa-map-marker" style="height:65px"></i>
            <div style="display: inline-block">
              <strong>The One Auditorium @ KLCC</strong><br />
              Add details<br />
              Add details
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
