<section class="price text-center section-padding" id="price">
  <div class="container wow animated fadeInLeft animated" data-wow-duration="1s" data-wow-delay="0.5s">
  <div class="row">
    <div class="col-lg-8 align-center price">
      <h1 class="arrow">Ticket Price</h1>
      <hr>
      <!-- card -->

      <div class="row">
        <div class="col-md-3 col-sm-12">
          <h3>Student</h3>
          <a href="#">RM 150</a>
        </div>

        <div class="col-md-3 col-sm-12">
          <h3>Super Early Bird</h3>
          <a href="#">RM 200</a>
        </div>

        <div class="col-md-3 col-sm-12">
          <h3>Early Bird</h3>
          <a href="#">RM 250</a>
        </div>

        <div class="col-md-3 col-sm-12">
          <h3>Normal</h3>
          <a href="#">RM 300</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
