<section class="tickets text-center section-padding" id="ticket">
  <div class="container wow animated fadeInLeft animated" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="row">
      <div class="col-sm-12 align-center">
        <h1 class="arrow">Ticket Price</h1>
        <hr>
      </div>
    </div>
    <div class="row tickets-row">
      {% for ticket in site.data.tickets %}
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="ticket {{ ticket.status }}">
            <h1>RM <span>{{ ticket.price }}</span></h1>
            <h2>{{ ticket.name }}</h2>
            <a href="{{ ticket.url }}" class="available">BUY NOW</a>
            <a class="coming-soon">COMING SOON</a>
            <a class="sold-out">SOLD OUT</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
