<!--SPEAKERS-->
<section class="schedule text-center section-padding" id="schedule">
  <div class="container align-center">
    <div class="row">
      <div class="col-md-8 wow animated fadeInLeft align-center" data-wow-duration="1s" data-wow-delay="0.3s">
        <h1 class="arrow">Schedule</h1><hr>
      </div>
    </div>
  </div>

  <div class="container align-center">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th class="text-center" width="33%">Thursday, 25th October 2018</th>
              <th class="text-center">Speaker</th>
              <th class="text-center">Title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>8:00AM - 9:00AM</strong></td>
              <td colspan="2"><strong>Registration & Conference Door Opens</strong></td></td>
            </tr>
            <tr>
              <td>9:00AM - 9:10AM</td>
              <td colspan="2">Welcome Address</td>
            </tr>
            <tr>
              <td>9.10AM - 9.50AM</td>
              <td><strong>Aaron Patterson</strong></td>
              <td><strong>Opening Keynote</strong></td>
            </tr>
            <tr>
              <td>9.50AM - 10.20AM</td>
              <td>Hiroshi Shibata</td>
              <td>Gems on Ruby</td>
            </tr>
            <tr>
              <td><strong>10.20AM - 10.45AM</strong></td>
              <td colspan="2"><strong>Tea Break - :)</strong></td>
            </tr>
            <tr>
              <td>10.45AM - 11.15AM</td>
              <td>Noah Gibbs</td>
              <td>Deep in Ruby's Memory System: Configure Your App's Memory Perfectly</td>
            </tr>
            <tr>
              <td>11.15AM - 11.45AM</td>
              <td>Enrique</td>
              <td>Building Multitenant Applications with Ruby</td>
            </tr>
            <tr>
              <td>11.45AM - 11.55AM</td>
              <td>Azuan</td>
              <td>Lightining Talk: Migrating from Elasticsearch 2 to 6</td>
            </tr>
            <tr>
              <td>11.55AM - 12.00PM</td>
              <td colspan="2">Sponsor Lightning Talk - Official Partner</td>
            </tr>
            <tr>
              <td>12.00pM - 12.30PM</td>
              <td>Dilum BC</td>
              <td>Cryptocurrency & Ruby</td>
            </tr>
            <tr>
              <td><strong>12.30PM - 1.35PM</strong></td>
              <td colspan="2"><strong>Lunch</strong></td>
            </tr>
            <tr>
              <td>1.35PM - 2.05PM</td>
              <td>Michael Kelly</td>
              <td>GraphQL: When REST just isn't enough</td>
            </tr>
            <tr>
              <td>2.05PM - 2.15PM</td>
              <td>Gooi</td>
              <td>Lightning Talk: Foster Tech Community</td>
            </tr>
            <tr>
              <td>2.15PM - 2.20PM</td>
              <td colspan="2">Sponsor Lightning Talk</td>
            </tr>
            <tr>
              <td>2.20PM - 2.50PM</td>
              <td>Prasun Anand</td>
              <td>High Performance GPU Computing with Ruby</td>
            </tr>
            <tr>
              <td><strong>2.50PM - 3.15PM</strong></td>
              <td colspan="2"><strong>Tea Break / Don't Sleep</strong></td>
            </tr>
            <tr>
              <td>3.15PM - 3.45PM</td>
              <td>Kinsey Ann Durham</td>
              <td>Refactoring for Readability</td>
            </tr>
            <tr>
              <td>3.45PM - 4.15PM</td>
              <td>Itoyanagi Sakura</td>
              <td>Reline: pure Ruby Readline implementation for Ruby core</td>
            </tr>
            <tr>
              <td>4.15PM - 4.50PM</td>
              <td><strong>Nadia Odunayo</strong></td>
              <td><strong>Closing Keynote</strong></td>
            </tr>
            <tr>
              <td>4.50PM - 5.00PM</td>
              <td colspan="2">Day 1 Closing Remarks/Announcements</td>
            </tr>
            <tr>
              <td><strong>7.30PM</strong></td>
              <td colspan="2"><strong>After Party @ Pisco Bar, Changkat Bukit Bintang</strong></td>
            </tr>
          </tbody>
        </table>
        <!-- Day 2 -->
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th class="text-center" width="33%">Friday, 26th October 2018</th>
              <th class="text-center">Speaker</th>
              <th class="text-center">Title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>8.30AM - 9.00AM</strong></td>
              <td colspan="2"><strong>Registration & Conference Door Opens</strong></td>
            </tr>
            <tr>
              <td>9:00AM - 9:05AM</td>
              <td colspan="2">Welcome Address/Sponsor’s Lightning Talk</td>
            </tr>
            <tr>
              <td><strong>9.05AM - 9.45AM</strong></td>
              <td><strong>Konstantin Haase</strong></td>
              <td><strong>Opening Keynote</strong></td>
            </tr>
            <tr>
              <td>9.45AM - 10.15AM</td>
              <td>Ankita Gupta & Sean Nguyen</td>
              <td>Putting REST to rest with GraphQL</td>
            </tr>
            <tr>
              <td>10.15AM - 10.45AM</td>
              <td>Iqbal Farabi</td>
              <td>Kubernetes The Ruby Way</td>
            </tr>
            <tr>
              <td><strong>10.45AM - 11.00AM</strong></td>
              <td colspan="2"><strong>Tea Break :)</strong></td>
            </tr>
            <tr>
              <td>11.00AM - 11.10AM</td>
              <td>Melvin</td>
              <td>Lightining Talk: Ruby on Rails for Everyone</td>
            </tr>
            <tr>
              <td>11.10AM - 11.40AM</td>
              <td>Itoyanagi Sakura</td>
              <td>Reline: Pure Ruby Readline implementation for Ruby core</td>
            </tr>
            <tr>
              <td>11.40AM - 12.10PM</td>
              <td>Michael Kelly</td>
              <td>GraphQL: When REST just isn't enough</td>
            </tr>
            <tr>
              <td>12.10PM - 12.40PM</td>
              <td>Ted Johansson</td>
              <td>Mind Your Model</td>
            </tr>
            <tr>
              <td>12.40PM</td>
              <td colspan="2">Sponsor Lightning Talk</td>
            </tr>
            <tr>
              <td><strong>12.45PM - 1.55PM</strong></td>
              <td colspan="2"><strong>Lunch and Friday Prayer</strong></td>
            </tr>
            <tr>
              <td>1.55PM -  2.05PM</td>
              <td>Jean</td>
              <td>Lightning Talk: Digital Rights and Universal Declaration of Digital Rights</td>
            </tr>
            <tr>
              <td>2.05PM - 2.35PM</td>
              <td>Allison McMillan</td>
              <td>The Choreography of the Garbage Collection Dance</td>
            </tr>
            <tr>
              <td>2.35PM - 3.05PM</td>
              <td>Silverstreet</td>
              <td>Workshop: Security Authentication with TWIZO</td>
            </tr>
            <tr>
              <td><strong>3.05PM - 3.20PM</strong></td>
              <td colspan="2"><strong>Tea Break</strong></td>
            </tr>
            <tr>
              <td>3.20PM - 3.50PM</td>
              <td>Guilhermer Mansur</td>
              <td>Educated Guesses: How to deliver machine learning products at scale in ruby</td>
            </tr>
            <tr>
              <td>3.50PM - 4.20PM</td>
              <td>Janice Shiu</td>
              <td>Languages - Human meets Machine: Creating a Pronouncing Dictionary Ruby Gem?</td>
            </tr>
            <tr>
              <td><strong>4.20PM - 5.00PM</strong></td>
              <td><strong>Ajey Gore</strong></td>
              <td><strong>Closing Keynote</strong></td>
            </tr>
            <tr>
              <td>5.00PM</td>
              <td colspan="2"><strong><u>Lucky Draw</u></strong> & Goodbye</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<style>
  .thead-dark {
    background: #22283a;
    color: #e4e4e4;
    font-size: 16px;
  }
</style>
