<!--SPEAKERS-->
<section class="speakers text-center section-padding" id="speakers">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 wow animated fadeInUp col-lg-offset-1" data-wow-duration="1s" data-wow-delay="1s">
      <h1 class="arrow">Speakers</h1><hr>
      <p>If you're interested to speak.</p>
      <a class="registration-link register-btn btn-effect wow animated fadeIn" data-wow-duration="1s" data-wow-delay="2.5s" data-scroll href="./call-for-proposals">Get in touch</a>
      </div>
      <div class="col-lg-5 wow animated fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
      <h1 class="arrow">Workshops</h1><hr>
      <p>If you're interested to conduct a workshop.</p>
      <a class="registration-link register-btn btn-effect wow animated fadeIn" data-wow-duration="1s" data-wow-delay="2.5s" data-scroll href="https://rubyconfmy18.typeform.com/to/RY6pVl" target="blank">Get in touch</a>
      </div>
    </div>
  </div>
</section>
