<section class="text-center section-padding sponsors-wrap" id="sponsors">
  <div class="container align-center">
  <div class="row">
    <div class="col-md-8 wow animated fadeInLeft align-center" data-wow-duration="1s" data-wow-delay="0.3s">
      <h1 class="arrow">Sponsors & Partners</h1><hr>
      <p>Our event is patronized by  amazing sponsors and partners. Download the <a href="./assets/pdf/rubyConf-sponsorshipDeck.pdf">Sponsors Deck</a> for more information about sponsorship.</p>
    </div>
    <br /><br />
  </div>


  <div class="row">
    <div class="col-md-9 wow animated fadeInLeft align-center" data-wow-duration="1s" data-wow-delay="0.3s">
      <h2>Platinum Sponsors</h2>
      <p>
        <a href="https://www.surialabs.com/"rel="nofollow"  target="_blank"><img class="sponsor" src="./assets/img/sponsors/surialabs.png" width="250"></a>
      </p>
      <br /><br />

    </div>
    <div class="row">
      <div class="col-lg-8 wow animated fadeInUp align-center" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="nl-submit-wrap">
          <button class="nl-submit btn-effect" onclick="window.open('./assets/pdf/rubyConf-sponsorshipDeck.pdf', '_blank')">Download the Sponsorship Deck</button>
        </div>
      </div>
    </div>

  </div>

</section>
