<section class="text-center section-padding sponsors-wrap" id="sponsors">
  <div class="container align-center">
  <div class="row">
    <div class="col-md-8 wow animated fadeInLeft align-center" data-wow-duration="1s" data-wow-delay="0.3s">
      <h1 class="arrow">Sponsors & Partners</h1><hr>
      <p>Our event is patronized by amazing sponsors and partners. Download the <a href="./assets/pdf/RubyConfMy2018-Sponsorship-Deck-May.pdf" target="_blank">Sponsors Deck</a> for more information about sponsorship.</p>
      <p>* Disclaimer: Those who agree to sponsor or make payment after 12th October 2018, may not have their logos printed on the event materials.</p>
    </div>
    <br /><br />
  </div>


  <div class="row">
    <div class="col-md-9 wow animated fadeInLeft align-center" data-wow-duration="1s" data-wow-delay="0.3s">
      <h2>Official Partners</h2>
      <p>
        <a href="https://www.surialabs.com/"rel="nofollow"  target="_blank"><img class="sponsor" src="./assets/img/sponsors/surialabs.png" width="230"></a>
        <a href="https://www.go-jek.com/"rel="nofollow"  target="_blank"><img class="sponsor" src="./assets/img/sponsors/go-jek.png" width="250"></a>
      </p> 
      <br/><br />
      <h2>Platinum Sponsors</h2>
      <p>
        <a href="http://rrsoft.co/"rel="nofollow"  target="_blank"><img class="sponsor" src="./assets/img/sponsors/rapidriver-platinum.png" width="230"></a>
        <a href="https://www.twizo.com/"rel="nofollow"  target="_blank"><img class="sponsor" src="./assets/img/sponsors/twizo.png" width="110"></a>
      </p> 
      <br/><br />
      <h2>Ruby Sponsors</h2>
      <p>
        <a href="https://www.coingecko.com/"rel="nofollow"  target="_blank"><img class="sponsor" src="./assets/img/sponsors/coin-gecko.png" width="250"></a>
        <a href="http://www.chaintope.com/en"rel="nofollow"  target="_blank"><img class="sponsor" src="./assets/img/sponsors/chaintope.png" width="250"></a>
        <a href="https://www.kaodim.com/"rel="nofollow"  target="_blank"><img class="sponsor" src="./assets/img/sponsors/kaodim.png" width="200"></a>
      </p>
      <br /><br />
      <h2>Gold Sponsors</h2>
      <p>
        <a href="https://www.thoughtworks.com/"rel="nofollow"  target="_blank"><img class="sponsor" src="./assets/img/sponsors/thought_works.png" width="230"></a>
        <a href="https://www.jetbrains.com/ruby/"rel="nofollow"  target="_blank"><img class="sponsor" src="./assets/img/sponsors/ruby_mine.png" width="90"></a>
      </p>
      <br /><br />
      <h2>Community Partner</h2>
      <p>
        <a href="https://tribehired.com/"rel="nofollow"  target="_blank"><img class="sponsor" src="./assets/img/sponsors/tribehired.png" width="200"></a>
      </p>
      <br /><br />
      <h2>Partnerships</h2>
      <p>
        <a href="https://stackshare.io/"rel="nofollow"  target="_blank"><img class="sponsor" src="./assets/img/sponsors/stackshare-logo.png" width="230"></a>
        <a href="https://space-pirates.co.jp/"rel="nofollow"  target="_blank"><img class="sponsor" src="./assets/img/sponsors/space-pirates.png" width="200"></a>
        <a href="https://www.jetbrains.com/"rel="nofollow"  target="_blank"><img class="ml-4rem" src="./assets/img/sponsors/jetbrains.png" width="150"></a>
        <a href="https://travis-ci.com/"rel="nofollow"  target="_blank"><img class="ml-4rem" src="./assets/img/sponsors/travis_ci.png" width="200"></a>
        <a href="http://www.kaligosolutions.com/"rel="nofollow"  target="_blank"><img class="ml-4rem" src="./assets/img/sponsors/kaligo.png" width="200"></a>
        <a href="https://pepabo.com/en/"rel="nofollow"  target="_blank"><img class="ml-4rem" src="./assets/img/sponsors/pepabo.png" width="200"></a>
        <a href="http://hanamirb.org/"rel="nofollow"  target="_blank"><img class="ml-4rem" src="./assets/img/sponsors/hippo.png" width="130"></a>
      </p>
      <br /><br />
      <h2>Media Partnerships</h2>
      <p>
        <a href="https://rubygarage.org/"rel="nofollow"  target="_blank"><img class="sponsor" src="./assets/img/sponsors/ruby_garage.png" width="230"></a>
      </p>
      <br /><br />
    </div>
    <div class="row">
      <div class="col-lg-8 wow animated fadeInUp align-center" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="nl-submit-wrap">
          <button class="nl-submit btn-effect" onclick="window.open('./assets/pdf/RubyConfMy2018-Sponsorship-Deck-May.pdf', '_blank')">Download the Sponsorship Deck</button>
        </div>
      </div>
    </div>

  </div>

</section>
