<section class="text-center section-padding sponsors-wrap" id="sponsors">
  <div class="container align-center">
  <div class="row">
    <div class="col-md-8 wow animated fadeInLeft align-center" data-wow-duration="1s" data-wow-delay="0.3s">
      <h1 class="arrow">Sponsors & Partners</h1><hr>
      <p>Our event is patronized by  amazing sponsors and partners. Download the <a href="./assets/pdf/Sponsorship Deck.pdf">Sponsors Deck</a> for more information about sponsorship.</p>
    </div>
    <br /><br />
  </div>


  <div class="row">
    <div class="col-lg-8 wow animated fadeInUp align-center" data-wow-duration="1s" data-wow-delay="0.5s">
      <h1 class="arrow">Be Apart of our Sponsor!</h1>
      <div class="nl-submit-wrap">
        <button class="nl-submit btn-effect" onclick="window.open('./assets/pdf/Sponsorship Deck.pdf', '_blank')">Download the Sponsorship Deck</button>
      </div>
    </div>
  </div>


</section>
