section.tickets .row {
  display: flex;
  flex-wrap: wrap;
}

section.tickets .tickets-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  margin: auto;
}

section.tickets .ticket {
  background: #212739;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
}

section.tickets .ticket > h1 {
  align-items: center;
  display: flex;
  font-size: 1rem;
  justify-content: center;
}

section.tickets .ticket > h1 > span {
  font-size: 4rem;
}

@media (max-width: 992px) {
  section.tickets .ticket > h1 > span {
    font-size: 5rem;
  }
}

section.tickets .ticket > a {
  background: #fb1b35;
  color: white;
  display: none;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.2em;
  margin: 2.9em auto 0;
  padding: 15px;
  text-transform: uppercase;
  width: 100%;
  max-width: 180px;
}

section.tickets .ticket.available > a.available,
section.tickets .ticket.coming-soon > a.coming-soon,
section.tickets .ticket.sold-out > a.sold-out {
  display: block;
}

section.tickets .ticket.coming-soon > a.coming-soon,
section.tickets .ticket.sold-out > a.sold-out {
  background: #868686;
}
